
<div class="container">
<h2>Medicos</h2>
<table class="table">
  <thead>
    <tr> 
      <th scope="col">Nombre</th>
      <th scope="col">Matricula</th>
      <th scope="col"> Especialidad</th>
      <th *ngIf="visible" scope="col">Editar Informacion</th>
      <th *ngIf="visible" scope="col">Eliminar Medico</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of medicos">
      <td>{{doctor.nombre}}</td>
      <td>{{doctor.matricula}}</td>
      <td> {{doctor.idEspecialidad}} </td>
      <td *ngIf="visible" ><a href="">Editar Informacion</a></td>
      <td *ngIf="visible" ><a (click)="borrar(doctor.id!)" href="">Eliminar Medico</a> </td>
    </tr>
  </tbody>
</table>
</div>



