

.inicio{
    margin-bottom: 60px;
    
}

body{
    width: 100%;
    height: 2000px;
    background-image: url("src/assets/flooring.jpg");
}
.boton-mutuales{
    display: flex;
}

.boton-mutuales-contenido{
    margin:auto;
}


