shared-navbar div{
    height: 7000px;
}


.inicio{
    margin-bottom: 10px;
}

.ContenedorLanding{
    
    margin: 0;
    position:relative;
    padding-bottom: 300px;
}
h1{
    font-size: 50px;
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.contenedorMutuales{
    height: 257px;
    display: flex;
    justify-content: center;
    text-align: center;
}
h2{
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.filaMutuales{
    display: flex;
    justify-content: center;
    padding: 50px;
}



.obraSocial{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenMutual{

    height: 140px;
    width: 140px;
}

.boton-mutuales-contenido{
    margin:auto;
    
}

.carrousel{
    height: 450px;
    width: 100%;
}

.imagen{
    height: 95%;
}

.logo
{
    height: 225px;
    width: 550px;
    margin-bottom: 15px;
}

a:hover{
    cursor: pointer;
    border: 2px solid #2e706b ;
}