<shared-navbar  ></shared-navbar>

<div class="ContenedorLanding">
<div class=".container text-center inicio">
  <img class="logo" src="assets/titulo2.png">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    
    <div class="carousel-inner">
      <div class="carousel-item active carrousel"data-bs-interval="3000" >
        <img src="assets/consultorio2.jpg" class="img-thumbnail imagen" alt="...">
        
      </div>
      <div class="carousel-item carrousel" data-bs-interval="3000">
        <img src="assets/medica.jpg" class="img-thumbnail imagen" alt="...">
        
      </div>
      <div class="carousel-item carrousel" data-bs-interval="3000">
        <img src="assets/pasillo.jpg" class="img-thumbnail imagen" alt="...">
        
      </div>
    </div>
  </div>
</div>
<div class=".container" >
  
  <div class="row filaMutuales contenedorMutuales" >
    <h2>Has click en tu obra social</h2>
    <p>Mira la cartilla de medicos</p>
    <div class="col-2 obraSocial" >
      <a (click)="medicosXmutual(1)" ><img src="assets/osde.jpg" class="imagenMutual" alt="Imagen de medife"></a>
    </div>
    <div class="col-2 obraSocial">      
      <a (click)="medicosXmutual2(2)" ><img src="assets/ospe.jpg" class="imagenMutual" alt="Imagen de medife"></a>
    </div>
    <div class="col-2 obraSocial">
      <a (click)="medicosXmutual3(3)" ><img src="assets/federadaSalud.jpg" class="imagenMutual " alt="Imagen de medife"></a>
    </div>
    <div class="col-2 obraSocial">
      <a (click)="medicosXmutual4(4)" ><img src="assets/medife.jpg" class="imagenMutual" alt="Imagen de medife"></a>
    </div>
  </div>
</div>

</div>

<shared-footer></shared-footer>