<shared-navbar  ></shared-navbar>

<div class="ContenedorLanding">
<div class=".container text-center inicio">
  <img class="logo" src="assets/titulo2.png">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    
    <div class="carousel-inner">
      <div class="carousel-item active carrousel"data-bs-interval="3000" >
        <img src="assets/consultorio2.jpg" class="img-thumbnail imagen" alt="...">
        
      </div>
      <div class="carousel-item carrousel" data-bs-interval="3000">
        <img src="assets/medica.jpg" class="img-thumbnail imagen" alt="...">
        
      </div>
      <div class="carousel-item carrousel" data-bs-interval="3000">
        <img src="assets/pasillo.jpg" class="img-thumbnail imagen" alt="...">
        
      </div>
    </div>
  </div>
</div>
<div class=".container" >
  
  <div class="row filaMutuales contenedorMutuales" >
    <h2>Trabajan con nosotros</h2>
    <div class="col-2 obraSocial" >
      <a (click)="medicosXmutual(1)" ><img src="assets/osde.jpg" class="imagenMutual" alt="Imagen de medife"></a>
    </div>
    <div class="col-2 obraSocial">      
      <a (click)="medicosXmutual2(2)" ><img src="assets/ospe.jpg" class="imagenMutual" alt="Imagen de medife"></a>
    </div>
    <div class="col-2 obraSocial">
      <a (click)="medicosXmutual3(3)" ><img src="assets/federadaSalud.jpg" class="imagenMutual " alt="Imagen de medife"></a>
    </div>
    <div class="col-2 obraSocial">
      <a (click)="medicosXmutual4(4)" ><img src="assets/medife.jpg" class="imagenMutual" alt="Imagen de medife"></a>
    </div>
  </div>
</div>

</div>

<shared-footer></shared-footer>

<!--
<div class="row boton-mutuales">
  <p class="d-inline-flex gap-1">
    <a class="btn btn-primary boton-mutuales-contenido" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
      Ver Mutuales
    </a>
  </p>
  </div>
  <div class="container overflow-hidden text-center collapse" id="collapseExample" >
    <div class="row" id="collapseExample">
      <div class="col obraSocial">
        <a href="auth"><img src="assets/osde.jpg" class="img-fluid p-3" alt="Imagen de medife"></a>
      </div>
      <div class="col obraSocial">      
        <a  href="auth"><img src="assets/ospe.jpg" class="img-fluid p-3" alt="Imagen de medife"></a>
      </div>
      <div class="col obraSocial">
        <a href="auth"><img src="assets/federadaSalud.jpg" class="img-fluid p-3 federada" alt="Imagen de medife"></a>
      </div>
      <div class="col obraSocial">
        <a href="auth"><img src="assets/medife.jpg" class="img-fluid p-3" alt="Imagen de medife"></a>
      </div>
    </div>
  </div>
-->