<nav class="navbar navbar-expand-lg  contenedorNavBar">
  <div class="container-fluid" >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        
      </span>
    </button>
    <img src="assets/logo.png" class="logoNav" alt="">
    <div class="collapse navbar-collapse navBar"  id="navbarNavAltMarkup">
      
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" (click)="goToInicio()" ><p>Inicio</p></a>
        <a *ngIf="!servicioAuth" class="nav-link active" aria-current="page" (click)="goToLogin()"><p>Login</p></a>
        <a *ngIf="servicioAuth" class="nav-link active" aria-current="page" (click)="logout()"><p>Logout</p></a>
        <a class="nav-link active" aria-current="page" (click)="goToEnviarRecetas()"><p>Enviar Recetas</p></a>
      </div>
    </div>
  </div>
</nav>
