
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=".container">
  <footer class="text-center text-lg-start footer" style="background-color: #1ae0d3;">
    <div class="container d-flex justify-content-center py-5">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" >
        <i class="fab fa-whatsapp"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" >
        <i class="fab fa-twitter"></i>
      </button>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © Pagina realizada por: Barcala Andrea - Castillo Maximiliano
    </div>
    <!-- Copyright -->
  </footer>
  
</div>


<!-- 

    <footer class="text-center text-lg-start" style="background-color: #1ae0d3;">
      <div class="contenedorBotones">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-instagram"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-twitter"></i>
        </button>
      </div>
      <div class="container d-flex justify-content-center py-5">
      </div>
     
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
     
    </footer> -->
