<div *ngIf="!visible" >
<div class="sideBar">
 <form [formGroup]="formulario">
    <h3>Selecciona una especialidad:</h3>
  <tr>
  <input type="radio" formControlName="especialidad" [value]="'Clinica'" (click)="medicoPorEspecialidad(1)" id="clin" />
   <label for="clin">Clínica</label>
  </tr>
  <tr>
  <input type="radio" formControlName="especialidad" [value]="'Cardiología'"  (click)="medicoPorEspecialidad(2)" id="cardio" />
    <label for="cardio">Cardiología</label>
  </tr>
  <tr>
  <input type="radio" formControlName="especialidad" [value]="'Pediatria'" (click)="medicoPorEspecialidad(3)" id="pedia" />
      <label for="pedia">Pediatría</label>
  </tr>
  <tr>
      <input type="radio" formControlName="especialidad" [value]="'Oftalmología'" (click)="medicoPorEspecialidad(4)" id="ofta" />
      <label for="ofta">Oftalmología</label>
  </tr> 
  <tr>
    <input type="radio" formControlName="especialidad" [value]="'Todos'" (click)="BorrarFiltros()" id="todos" >
      <label for="todos">Borrar filtros</label>
  </tr>
</form>
</div>
  

  
    <div *ngIf="activarListado" class="table-responsive-lg"> 
    <div class="container" >
      
     <h2 > Médicos <span *ngIf="!verEspecialidad">{{especialidad}}</span> </h2>
    
     <table class="table">
       <thead>
         <tr> 
           <th scope="col">Nombre</th>
           <th scope="col">Matrícula</th>
           <th *ngIf="verEspecialidad" scope="col" >Especialidad</th>
         </tr>
       </thead>
       <tbody *ngIf="medicosEspec.length>0" >
         <tr *ngFor="let doctor of medicosEspec">
           <td>{{doctor.nombre}}</td>
           <td>{{doctor.matricula}}</td>
           <td *ngIf="verEspecialidad" >{{doctor.idEspecialidad}} </td>
         </tr>
       </tbody>
     </table>
     </div>
  
    </div>

 
</div>
