<div>
<div class="sideBar">
 <form [formGroup]="formulario">
    <h3>Selecciona una especialidad:</h3>
  <tr>
  <input type="radio" formControlName="especialidad" [value]="'Clinica'" (click)="medicoPorEspecialidad(1)"/>Clinica
  </tr>
  <tr>
  <input type="radio" formControlName="especialidad" [value]="'Cardiología'"  (click)="medicoPorEspecialidad(2)" />
  Cardiología
  </tr>
  <tr>
  <input type="radio" formControlName="especialidad" [value]="'Pediatria'" (click)="medicoPorEspecialidad(3)" />
      Pediatria
  </tr>
  <tr>
      <input type="radio" formControlName="especialidad" [value]="'Oftalmología'" (click)="medicoPorEspecialidad(4)" />
      Oftalmología
  </tr> 
</form>
</div>
  

  
    <div *ngIf="medicosEspec.length>0">
    <div  class="container" >
     <h2> Medicos {{especialidad}} </h2>
     <table class="table">
       <thead>
         <tr> 
           <th scope="col">Nombre</th>
           <th scope="col">Matricula</th>
           <th scope="col">Editar Informacion</th>
           <th scope="col">Eliminar Medico</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let doctor of medicosEspec">
           <td>{{doctor.nombre}}</td>
           <td>{{doctor.matricula}} </td>
           <td><a href="">Editar Informacion</a></td>
           <td><a href="">Eliminar Medico</a> </td>
         </tr>
       </tbody>
     </table>
     </div>
  
    </div>

 
</div>


  